rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /site_stats/{docId} {
      allow read: if true;
      allow write: if true;
    }
    match /active_presence/{docId} {
      allow read: if true;
      allow write, delete: if true;
    }
  }
}
